#main{
    width: 75%;
    margin: auto;
}

#fields{
    width: 50%;
    margin: auto;
}

input{
    width: 100%;
    margin: auto;
}
select{
    width: 100%;
    margin: auto;
}

#button{
    display: block;
    width: 100px;
    margin: 10px auto;
}

.text{
    margin-top: 10px;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border: 4px double black;
    border-collapse: collapse;
    margin: auto;
}
th {
    text-align: left;
    background: #ccc;
    padding: 5px;
    border: 1px solid black;
}
td {
    padding: 5px;
    border: 1px solid black;
}
#feedbackLabel{
    font-size: 30px;
    width:300px;
    margin: auto;
}
#messageText{
    margin-top: 10px;
    width: 100%;
}